.unity-base-field > .unity-base-field__input {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    min-width: 50px;
    flex-wrap: nowrap;
}

.unity-base-field > .unity-label {
    flex-grow: 0.4;
    flex-shrink: 1;
    flex-basis: 2px;
    min-width: 50px;
}

.unity-foldout__text {
    font-size: 16px;
}
